#pv-table-div {
  overflow: scroll;
}

#pv-table-div .alarm {
  background-color: #546E7A;
}

#pv-table-div .no_alarm {
}

#pv-table-div .invalid_alarm {
  background-color: #546E7A;
}

#pv-table-div .major_alarm {
  background-color: #B71C1C;
}

#pv-table-div .minor_alarm {
  background-color: #D81B60;
}
