.light-text {
  color: white;
  background-color: #B0BEC5;
}

.dark-text {
  color: black;
  background-color: white;
}

.card-control-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.card-control-row .card-control-progress {
  min-width: 150px;
  flex-grow: 2;
  margin-right: 5px;
  margin-left: 5px;
}

.card-control-row button {
  margin-right: 5px;
}

.card-control-row .card-control-select {
  margin-right: 5px;
  min-width: 125px;
}

.card-control-row .card-control-item {
  text-align: center;
  flex-grow: 2;
  max-width: 250px;
}

.card-control-row .alarm {
  background-color: #B71C1C;
}

.card-control-row .no_alarm {
  background-color: #4CAF50;
}

.card-control-row .invalid_alarm {
  background-color: #546E7A;
}

.card-control-row .major_alarm {
  background-color: #B71C1C;
}

.card-control-row .minor_alarm {
  background-color: #D81B60;
}

.card-control-row .idle {
  background-color: #D500F9;
}

.card-control-row .low-power {
  background-color: #FF8F00;
}

.card-control-row .disconnected {
  background-color: #E53935;
}

.card-control-row .loaded {
  background-color: #448AFF;
}
