.antenna-select {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  height: 100%;
}

.antenna-select-combo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 25px;
}

.antenna-select-combo .antenna-state {
  margin-bottom: 1px;
}

.antenna-select-combo .antenna-state.in {
  background: #66BB6A;
}
.antenna-select-combo .antenna-state.out {
  background: #FF5252;
}
.antenna-select-combo .antenna-state.local {
  background: #FFA000;
}
.antenna-select-combo .antenna-state.pending {
  background: #FFEB3B;
}

.antenna-select-combo .select-offline-reason {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 125px;
}

.antenna-select-combo .squares {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.antenna-select-combo .squares div {
  display: block;
  float: left;

  width: 10px;
  height: 10px;
}

.antenna-select-combo .squares .off {  background: #FF5252;}
.antenna-select-combo .squares .on {  background: #66BB6A;}
