.antenna-select-combo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.antenna-select-combo .antenna-state {
  margin-bottom: 1px;
}

.antenna-select-combo .antenna-state.on {
  background: #66BB6A;
}
.antenna-select-combo .antenna-state.off {
  background: #FF5252;
}

.antenna-select-combo .select-offline-reason {
  flex-grow: 4;
  margin-left: 10px;
  margin-right: 10px;
}

.antenna-select-combo .squares {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.antenna-select-combo .squares div {
  display: block;
  float: left;

  width: 10px;
  height: 10px;
}

.antenna-select-combo .squares .off {  background: #FF5252;}
.antenna-select-combo .squares .on {  background: #66BB6A;}
